# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# TinaCMS
public/admin
.vercel/output/config.json
.vercel/output/_functions/_@astrojs-ssr-adapter.mjs
.vercel/output/_functions/_noop-middleware.mjs
.vercel/output/_functions/entry.mjs
.vercel/output/_functions/manifest_CJSQIz3E.mjs
.vercel/output/_functions/noop-entrypoint.mjs
.vercel/output/_functions/renderers.mjs
.vercel/output/_functions/chunks/_@astrojs-ssr-adapter_B1SMVFl5.mjs
.vercel/output/_functions/chunks/_astro_assets_Cyj9G9ja.mjs
.vercel/output/_functions/chunks/_astro_data-layer-content_pY3hX1GB.mjs
.vercel/output/_functions/chunks/adany-timi_B9VMOnu2.mjs
.vercel/output/_functions/chunks/adany-timi_jfB67BFR.mjs
.vercel/output/_functions/chunks/aida_Bnn0yOmM.mjs
.vercel/output/_functions/chunks/aida_D3sFwcYJ.mjs
.vercel/output/_functions/chunks/alba_D2Xbl3MQ.mjs
.vercel/output/_functions/chunks/alba_Dia433n7.mjs
.vercel/output/_functions/chunks/astro-designed-error-pages_CnSIxq2L.mjs
.vercel/output/_functions/chunks/cikkek.62cd08cc_D_1Tlrok.mjs
.vercel/output/_functions/chunks/consts_BmVDRGlB.mjs
.vercel/output/_functions/chunks/content-assets_DleWbedO.mjs
.vercel/output/_functions/chunks/content-modules_62hGzJHK.mjs
.vercel/output/_functions/chunks/cooper_B19yBRd6.mjs
.vercel/output/_functions/chunks/cooper_Czbdk4KO.mjs
.vercel/output/_functions/chunks/dalma-kutyakozmi_BklXFQr_.mjs
.vercel/output/_functions/chunks/dalma-kutyakozmi_CJIzpy-x.mjs
.vercel/output/_functions/chunks/dszit_BGxDHzvp.mjs
.vercel/output/_functions/chunks/dszit_F5BkElZQ.mjs
.vercel/output/_functions/chunks/enid_BfQc0RgP.mjs
.vercel/output/_functions/chunks/enid_tKP_twgW.mjs
.vercel/output/_functions/chunks/example-post_DZBs4ehQ.mjs
.vercel/output/_functions/chunks/example-post_RHNr5Vp9.mjs
.vercel/output/_functions/chunks/frog-meddog_BRyep5hQ.mjs
.vercel/output/_functions/chunks/frog-meddog_DBtVOfGI.mjs
.vercel/output/_functions/chunks/gemesi-rita_6fLvwYRt.mjs
.vercel/output/_functions/chunks/gemesi-rita_Dcv9w8f3.mjs
.vercel/output/_functions/chunks/general_D7vGiluD.mjs
.vercel/output/_functions/chunks/general_TNlCl50l.mjs
.vercel/output/_functions/chunks/hero_B0xxo4nq.mjs
.vercel/output/_functions/chunks/hero_lg5xn06N.mjs
.vercel/output/_functions/chunks/horse-coaching_D06ZMHsr.mjs
.vercel/output/_functions/chunks/horse-coaching_DIzpZ2_1.mjs
.vercel/output/_functions/chunks/ibos-kata_CA3zfoRM.mjs
.vercel/output/_functions/chunks/ibos-kata_D-KcTec8.mjs
.vercel/output/_functions/chunks/index_CYyG6us9.mjs
.vercel/output/_functions/chunks/isha_3yg9_QBs.mjs
.vercel/output/_functions/chunks/isha_BUhmm7bd.mjs
.vercel/output/_functions/chunks/Layout_DsVVDRdS.mjs
.vercel/output/_functions/chunks/Mikuls-Program-Solymron_Disdcmr0.mjs
.vercel/output/_functions/chunks/Mikuls-Program-Solymron_Dw4NkOrl.mjs
.vercel/output/_functions/chunks/mission_BPij0y-S.mjs
.vercel/output/_functions/chunks/mission_C6zxsfeg.mjs
.vercel/output/_functions/chunks/nala_CYH-t34R.mjs
.vercel/output/_functions/chunks/nala_z4f_oypr.mjs
.vercel/output/_functions/chunks/noriart_CUB7-2BM.mjs
.vercel/output/_functions/chunks/noriart_DkLBYLfv.mjs
.vercel/output/_functions/chunks/ozsvath-nora_BPKEsSFA.mjs
.vercel/output/_functions/chunks/ozsvath-nora_DdL-Crth.mjs
.vercel/output/_functions/chunks/panka_BRZVkEOd.mjs
.vercel/output/_functions/chunks/panka_MMYwyRy3.mjs
.vercel/output/_functions/chunks/panka-1_BNd7u-Ob.mjs
.vercel/output/_functions/chunks/panka-1_pjYBUDXr.mjs
.vercel/output/_functions/chunks/pap-gyula_DubBbIyQ.mjs
.vercel/output/_functions/chunks/pap-gyula_DZLjSUbo.mjs
.vercel/output/_functions/chunks/pap-laszlo_a00EdeUz.mjs
.vercel/output/_functions/chunks/pap-laszlo_CZXO4LG7.mjs
.vercel/output/_functions/chunks/parse_BMnn4H2B.mjs
.vercel/output/_functions/chunks/path_tbLlI_c1.mjs
.vercel/output/_functions/chunks/petplex_BYydCeI0.mjs
.vercel/output/_functions/chunks/petplex_WcC7k3Y7.mjs
.vercel/output/_functions/chunks/placeholder-1_DJ9tPfv6.mjs
.vercel/output/_functions/chunks/placeholder-1_DyaeXjG-.mjs
.vercel/output/_functions/chunks/placeholder-2_BkrabPTO.mjs
.vercel/output/_functions/chunks/placeholder-2_DoLMnJxn.mjs
.vercel/output/_functions/chunks/placeholder-3_B_fH3YIP.mjs
.vercel/output/_functions/chunks/placeholder-3_BMjAk7uc.mjs
.vercel/output/_functions/chunks/placeholder-4_CFI0HjZC.mjs
.vercel/output/_functions/chunks/placeholder-4_CgWkSpF1.mjs
.vercel/output/_functions/chunks/placeholder-5_B5OaQWfp.mjs
.vercel/output/_functions/chunks/placeholder-5_BUQABgcJ.mjs
.vercel/output/_functions/chunks/placeholder-6_D5uAo0wY.mjs
.vercel/output/_functions/chunks/placeholder-6_DFKJU5P0.mjs
.vercel/output/_functions/chunks/polli_D_5fJH2G.mjs
.vercel/output/_functions/chunks/polli_DzlLhbjT.mjs
.vercel/output/_functions/chunks/process_DFvJMzFd.mjs
.vercel/output/_functions/chunks/process_rmVcxydw.mjs
.vercel/output/_functions/chunks/regular-work_CI-fWQzB.mjs
.vercel/output/_functions/chunks/regular-work_DyCh4neb.mjs
.vercel/output/_functions/chunks/requirements_B5LtCrsS.mjs
.vercel/output/_functions/chunks/requirements_punDdh-2.mjs
.vercel/output/_functions/chunks/sensitivity_20EQwFSd.mjs
.vercel/output/_functions/chunks/sensitivity_DUcrcugl.mjs
.vercel/output/_functions/chunks/sharp_Ch1GQI9E.mjs
.vercel/output/_functions/chunks/somlai-bea_B23wAvgQ.mjs
.vercel/output/_functions/chunks/somlai-bea_QK_80USd.mjs
.vercel/output/_functions/chunks/story_CKxgDvNj.mjs
.vercel/output/_functions/chunks/story_xcyq_NQ7.mjs
.vercel/output/_functions/chunks/summer-camps_Cc9Pi643.mjs
.vercel/output/_functions/chunks/summer-camps_Dz358dG_.mjs
.vercel/output/_functions/chunks/szamoca_DcBByMEi.mjs
.vercel/output/_functions/chunks/szamoca_yN9rmUiT.mjs
.vercel/output/_functions/chunks/team-building_BB-630qu.mjs
.vercel/output/_functions/chunks/team-building_BF8KLxZJ.mjs
.vercel/output/_functions/chunks/therapy-visits_DlZ7WyeP.mjs
.vercel/output/_functions/chunks/therapy-visits_Lg5IvSQ_.mjs
.vercel/output/_functions/chunks/veres-viola_Bmzgoz4X.mjs
.vercel/output/_functions/chunks/veres-viola_xyLcZym6.mjs
.vercel/output/_functions/chunks/vilman-melinda_a1QH05W9.mjs
.vercel/output/_functions/chunks/vilman-melinda_DRMLkzeJ.mjs
.vercel/output/_functions/chunks/vision_B1ovaKzh.mjs
.vercel/output/_functions/chunks/vision_By7xkaxU.mjs
.vercel/output/_functions/chunks/volunteer_B_eXXGC2.mjs
.vercel/output/_functions/chunks/volunteer_C2-A0lt9.mjs
.vercel/output/_functions/chunks/wendy_B6afkrj8.mjs
.vercel/output/_functions/chunks/wendy_BcHMjrvT.mjs
.vercel/output/_functions/chunks/willow_CyRNC7Qc.mjs
.vercel/output/_functions/chunks/willow_lOoc2yN1.mjs
.vercel/output/_functions/chunks/astro/server_CemxdUbp.mjs
.vercel/output/_functions/pages/_image.astro.mjs
.vercel/output/_functions/pages/cikkek.astro.mjs
.vercel/output/_functions/pages/index.astro.mjs
.vercel/output/_functions/pages/kapcsolat.astro.mjs
.vercel/output/_functions/pages/rolunk.astro.mjs
.vercel/output/_functions/pages/tamogatas.astro.mjs
.vercel/output/_functions/pages/api/create-payment-intent.astro.mjs
.vercel/output/_functions/pages/cikkek/_slug_.astro.mjs
.vercel/output/functions/_render.func/.vc-config.json
.vercel/output/functions/_render.func/package.json
.vercel/output/functions/_render.func/src/content/about/mission.mdx
.vercel/output/functions/_render.func/src/content/about/story.mdx
.vercel/output/functions/_render.func/src/content/about/vision.mdx
.vercel/output/functions/_render.func/src/content/contact/hero.mdx
.vercel/output/functions/_render.func/src/content/contact/process.mdx
.vercel/output/functions/_render.func/src/content/contact/requirements.mdx
.vercel/output/functions/_render.func/src/content/contact/volunteer.mdx
.vercel/output/functions/_render.func/src/content/dogs/aida.mdx
.vercel/output/functions/_render.func/src/content/dogs/alba.mdx
.vercel/output/functions/_render.func/src/content/dogs/cooper.mdx
.vercel/output/functions/_render.func/src/content/dogs/enid.mdx
.vercel/output/functions/_render.func/src/content/dogs/isha.mdx
.vercel/output/functions/_render.func/src/content/dogs/nala.mdx
.vercel/output/functions/_render.func/src/content/dogs/panka.mdx
.vercel/output/functions/_render.func/src/content/dogs/polli.mdx
.vercel/output/functions/_render.func/src/content/dogs/wendy.mdx
.vercel/output/functions/_render.func/src/content/dogs/willow.mdx
.vercel/output/functions/_render.func/src/content/members/gemesi-rita.mdx
.vercel/output/functions/_render.func/src/content/members/ibos-kata.mdx
.vercel/output/functions/_render.func/src/content/members/ozsvath-nora.mdx
.vercel/output/functions/_render.func/src/content/members/pap-gyula.mdx
.vercel/output/functions/_render.func/src/content/members/pap-laszlo.mdx
.vercel/output/functions/_render.func/src/content/members/somlai-bea.mdx
.vercel/output/functions/_render.func/src/content/members/vilman-melinda.mdx
.vercel/output/functions/_render.func/src/content/partners/adany-timi.mdx
.vercel/output/functions/_render.func/src/content/partners/dalma-kutyakozmi.mdx
.vercel/output/functions/_render.func/src/content/partners/frog-meddog.mdx
.vercel/output/functions/_render.func/src/content/partners/noriart.mdx
.vercel/output/functions/_render.func/src/content/partners/petplex.mdx
.vercel/output/functions/_render.func/src/content/partners/szamoca.mdx
.vercel/output/functions/_render.func/src/content/partners/veres-viola.mdx
.vercel/output/functions/_render.func/src/content/posts/example-post.mdx
.vercel/output/functions/_render.func/src/content/posts/Mikuls-Program-Solymron.mdx
.vercel/output/functions/_render.func/src/content/programs/dszit.mdx
.vercel/output/functions/_render.func/src/content/programs/horse-coaching.mdx
.vercel/output/functions/_render.func/src/content/programs/regular-work.mdx
.vercel/output/functions/_render.func/src/content/programs/sensitivity.mdx
.vercel/output/functions/_render.func/src/content/programs/summer-camps.mdx
.vercel/output/functions/_render.func/src/content/programs/team-building.mdx
.vercel/output/functions/_render.func/src/content/programs/therapy-visits.mdx
.vercel/output/functions/_render.func/src/content/settings/general.mdx
.vercel/output/functions/_render.func/src/content/testimonials/panka-1.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-1.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-2.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-3.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-4.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-5.mdx
.vercel/output/functions/_render.func/src/content/testimonials/placeholder-6.mdx
.vercel/output/functions/_render.func/src/pages/tamogatas.astro
.vercel/output/static/favicon.svg
.vercel/output/static/index.html
.vercel/output/static/_astro/_slug_.DMsQ_G0S.css
.vercel/output/static/_astro/_slug_.DRf7uAqW.css
.vercel/output/static/_astro/AboutHero.a-MkAdYI.js
.vercel/output/static/_astro/BlogCard.CQaOJ_B-.js
.vercel/output/static/_astro/BlogHero.B4ZsASie.js
.vercel/output/static/_astro/cikkek.62cd08cc.p1Az1teE.js
.vercel/output/static/_astro/cikkek.B3xsMozO.css
.vercel/output/static/_astro/cikkek.BIOm-RKQ.css
.vercel/output/static/_astro/client.Dnh0jofZ.js
.vercel/output/static/_astro/ContactFormSection.lhV5uRKj.js
.vercel/output/static/_astro/ContactHero.CrlIXMhQ.js
.vercel/output/static/_astro/createLucideIcon.DewKPiCF.js
.vercel/output/static/_astro/DonateButton.Br_c35YC.js
.vercel/output/static/_astro/DonationForm.CnIGGRvY.js
.vercel/output/static/_astro/Footer.DW_cLmTu.js
.vercel/output/static/_astro/GalleryLightbox.CjmtypM0.js
.vercel/output/static/_astro/Header.BTaTPIXG.js
.vercel/output/static/_astro/heart.BVT1Et1d.js
.vercel/output/static/_astro/hero-transparent.3KlsHLzP.png
.vercel/output/static/_astro/Hero.K_sd1A_E.js
.vercel/output/static/_astro/index.1ixxEbKp.js
.vercel/output/static/_astro/index.B5vO25yU.js
.vercel/output/static/_astro/index.D66uaMUf.js
.vercel/output/static/_astro/index.DMVOjPfi.js
.vercel/output/static/_astro/logo-black.DOrjgnMu.png
.vercel/output/static/_astro/logo-without-text.CLg28tVH.png
.vercel/output/static/_astro/Logo.-D2priQ6.js
.vercel/output/static/_astro/logo.OKHxg5Jf.png
.vercel/output/static/_astro/mail.Bs-MlGpy.js
.vercel/output/static/_astro/MissionSection.CFTCOqrf.js
.vercel/output/static/_astro/nunito-cyrillic-ext-wght-normal.D4X5GqEv.woff2
.vercel/output/static/_astro/nunito-cyrillic-wght-normal.CY6AOgYE.woff2
.vercel/output/static/_astro/nunito-latin-ext-wght-normal.CXYtwYOx.woff2
.vercel/output/static/_astro/nunito-latin-wght-normal.BzFMHfZw.woff2
.vercel/output/static/_astro/nunito-vietnamese-wght-normal.U01xdrZh.woff2
.vercel/output/static/_astro/OurDogs.DbXV0B0m.js
.vercel/output/static/_astro/Partners.DTCDFiN9.js
.vercel/output/static/_astro/Paw.BgKhMYM0.js
.vercel/output/static/_astro/PerspectiveButton.nSeoFFkK.js
.vercel/output/static/_astro/phone.Cfmo6Tnv.js
.vercel/output/static/_astro/ProcessSteps.DHaWHpfg.js
.vercel/output/static/_astro/Programs.CShYJJPG.js
.vercel/output/static/_astro/proxy.C7p9SjRp.js
.vercel/output/static/_astro/react-icons.esm.Dwe0BSLr.js
.vercel/output/static/_astro/RequirementsSection.DZ1IvRu3.js
.vercel/output/static/_astro/SiInstagram.CRVHr8pI.js
.vercel/output/static/_astro/Socials.BIB8cPFW.js
.vercel/output/static/_astro/sparkles.B8mbqgMm.js
.vercel/output/static/_astro/StorySection.D1TROsPv.js
.vercel/output/static/_astro/TeamSection.Dt3hzy-D.js
.vercel/output/static/_astro/Testimonials.wEVwMgoU.js
.vercel/output/static/_astro/users.mKYMjptb.js
.vercel/output/static/_astro/utils.Bzm_o1ou.js
.vercel/output/static/_astro/VisionSection.BpJC-CE1.js
.vercel/output/static/_astro/VolunteerSection.DbK50k5Y.js
.vercel/output/static/_astro/x.9uxV2fLV.js
.vercel/output/static/about/mission.jpg
.vercel/output/static/about/paw.svg
.vercel/output/static/about/story.jpg
.vercel/output/static/about/vision.jpg
.vercel/output/static/admin/.gitignore
.vercel/output/static/cikkek/IMG_6274.jpeg
.vercel/output/static/cikkek/IMG_6307.mov
.vercel/output/static/cikkek/IMG_6308.jpeg
.vercel/output/static/cikkek/index.html
.vercel/output/static/cikkek/mikulas-program-solymaron/index.html
.vercel/output/static/cikkek/pelda-cikk/index.html
.vercel/output/static/dogs/aida-front.jpg
.vercel/output/static/dogs/alba-front.jpg
.vercel/output/static/dogs/cooper-front.jpg
.vercel/output/static/dogs/enid-front.jpg
.vercel/output/static/dogs/enid-kosar.jpg
.vercel/output/static/dogs/isha-front.jpg
.vercel/output/static/dogs/nala-front.jpg
.vercel/output/static/dogs/panka-front.jpg
.vercel/output/static/dogs/polli-front.jpg
.vercel/output/static/dogs/wendy-front.jpg
.vercel/output/static/dogs/willow-front.jpg
.vercel/output/static/dogs-with-owner/gemesi-rita.jpg
.vercel/output/static/dogs-with-owner/ibos-kata.jpg
.vercel/output/static/dogs-with-owner/ozsvath-nora.jpg
.vercel/output/static/dogs-with-owner/pap-gyula.jpg
.vercel/output/static/dogs-with-owner/somlai-bea.jpg
.vercel/output/static/kapcsolat/index.html
.vercel/output/static/owners/gemesi-rita.jpg
.vercel/output/static/owners/ibos-kata.jpg
.vercel/output/static/owners/ozsvath-nora.jpg
.vercel/output/static/owners/pap-gyula.jpg
.vercel/output/static/owners/pap-laszlo.jpg
.vercel/output/static/owners/somlai-beatrix.jpg
.vercel/output/static/owners/vilman-melinda.jpg
.vercel/output/static/partners/coaching.jpg
.vercel/output/static/partners/dalma-kutyakozmi.jpg
.vercel/output/static/partners/frog-meddog.webp
.vercel/output/static/partners/noriart.jpg
.vercel/output/static/partners/petplex.jpg
.vercel/output/static/partners/szamoca.png
.vercel/output/static/partners/viola-agility.jpg
.vercel/output/static/rolunk/index.html
.vercel/output/static/therapy-programs/ceges-csapatepites.jpg
.vercel/output/static/therapy-programs/dszit.jpg
.vercel/output/static/therapy-programs/erzekenyites.jpg
.vercel/output/static/therapy-programs/lovas-coaching.jpg
.vercel/output/static/therapy-programs/nyari-taborok.jpg
.vercel/output/static/therapy-programs/rendszeres-munkaink.jpeg
.vercel/output/static/therapy-programs/terapias-kutya-latogatasok.jpg
