@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.75rem;
    }
}

@layer utilities {
    .container-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (min-width: 768px) {
        .container-padding {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 1024px) {
        .container-padding {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    .-container-padding {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    @media (min-width: 768px) {
        .-container-padding {
            margin-left: -2rem;
            margin-right: -2rem;
        }
    }

    @media (min-width: 1024px) {
        .-container-padding {
            margin-left: -4rem;
            margin-right: -4rem;
        }
    }

    .header-spacing {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    @media (min-width: 768px) {
        .header-spacing {
            padding-top: 12rem;
            padding-bottom: 12rem;
        }
    }

    @media (min-width: 1024px) {
        .header-spacing {
            padding-top: 12rem;
            padding-bottom: 12rem;
        }
    }

    .-header-spacing {
        padding-top: -8rem;
        padding-bottom: -8rem;
    }

    @media (min-width: 768px) {
        .-header-spacing {
            padding-top: -12rem;
            padding-bottom: -12rem;
        }
    }

    @media (min-width: 1024px) {
        .-header-spacing {
            padding-top: -12rem;
            padding-bottom: -12rem;
        }
    }
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
