---
import AboutUs from "~/components/AboutUs";
import DogFlipCard from "~/components/DogFlipCard";
import Layout from "~/layouts/Layout.astro";
import { contentfulClient, isAssetLink, isEntryLink } from "~/lib/contentful";
import type { TypeDogSkeleton } from "~/types/content";

const dogsResponse = await contentfulClient.getEntries<TypeDogSkeleton>({
	content_type: "dog",
	order: ["-fields.priority"],
	include: 2,
});

// const membersResponse = await contentfulClient.getEntries<TypeMemberSkeleton>({
//     content_type: "member",
//     order: ["fields.priority"],
//     include: 2,
// });

// const members = membersResponse.items.map((item) => {
//     const { name, title, certificates, content, priority } = item.fields;

//     return {
//         name,
//         title,
//         certificates,
//         content: content as unknown as Document,
//         priority,
//     };
// });

const dogs = dogsResponse.items.map((item) => {
	const {
		name,
		thumbnail,
		photoWithOwner,
		nicknames,
		workplaces,
		owner,
		priority,
		content,
		certificates,
	} = item.fields;
	return {
		name,
		thumbnail: isAssetLink(thumbnail) ? thumbnail : null,
		photoWithOwner: isAssetLink(photoWithOwner) ? photoWithOwner : null,
		nicknames,
		workplaces,
		ownerName: isEntryLink(owner) ? owner.fields.name : "",
		priority,
		content: content as unknown as Document,
		certificates,
	};
});
---

<Layout title="Angyalmancsok | Rólunk">
    <AboutUs client:load />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-8">
        {dogs.map((dog) => <DogFlipCard client:load dog={dog} />)}
    </div>
</Layout>
