---
import Layout from "~/layouts/Layout.astro";
import WindowCard from "~/components/WindowCard";
import { contentfulClient, isAssetLink, isEntryLink } from "~/lib/contentful";
import type { TypeDogSkeleton } from "~/types/content";

const dogsResponse = await contentfulClient.getEntries<TypeDogSkeleton>({
    content_type: "dog",
    order: ["-fields.priority"],
    include: 2,
});

// const membersResponse = await contentfulClient.getEntries<TypeMemberSkeleton>({
//     content_type: "member",
//     order: ["fields.priority"],
//     include: 2,
// });

// const members = membersResponse.items.map((item) => {
//     const { name, title, certificates, content, priority } = item.fields;

//     return {
//         name,
//         title,
//         certificates,
//         content: content as unknown as Document,
//         priority,
//     };
// });

const dogs = dogsResponse.items.map((item) => {
    const {
        name,
        thumbnail,
        photoWithOwner,
        nicknames,
        workplaces,
        owner,
        priority,
        content,
        certificates,
    } = item.fields;
    return {
        name,
        thumbnail: isAssetLink(thumbnail) ? thumbnail : null,
        photoWithOwner: isAssetLink(photoWithOwner) ? photoWithOwner : null,
        nicknames,
        workplaces,
        ownerName: isEntryLink(owner) ? owner.fields.name : "",
        priority,
        content: content as unknown as Document,
        certificates,
    };
});
---

<Layout title="Angyalmancsok | Rólunk">
    <div class="flex items-center justify-center w-full flex-col gap-8">
        {dogs.map((dog) => <WindowCard client:load dog={dog} />)}
    </div>
</Layout>
