---
import "@fontsource-variable/nunito";
import DonateButton from "~/components/DonateButton";
import Header from "~/components/Header";
import "~/styles/globals.css";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="bg-bg font-sans w-screen text-text" lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="w-full mx-auto max-w-[1920px]">
        <Header client:load />
        <main class="container-padding text-justify mt-32">
            <div class="md:hidden h-14 mb-8 w-full relative">
                <DonateButton
                    className="absolute h-8 text-center flex items-center justify-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
                    smallIcons
                    client:load
                />
            </div>
            <slot />
        </main>
        <footer>Footer</footer>
    </body>
</html>
<style is:global>
    body {
        font-family: "Nunito Variable", sans-serif;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-center text-text-heading font-bold w-fit;
    }

    h1 {
        @apply text-3xl md:text-4xl font-extrabold;
    }
    h2 {
        @apply text-2xl md:text-3xl font-bold;
    }
</style>
